main {
  background: #fff;
  padding: 20px;
}
.bulletWord{
  font-size: 20px;
  color: #fff;
}
.screen {
  background: #bfa;
  margin-bottom: 10px;
}
.workStation{
  background: #DFDBDB;
  height: 60px;
  line-height: 60px;
  display: flex;
    input {
      width: 400px;
      line-height: 40px;
      border-radius: 10px;
      border: #999;
      padding: 0 20px;
      margin-left: 100px;
    }
    .send {
      line-height: 40px;
      padding: 0 20px;
      border: none;
      background: #1890ff;
      color: #fff;
      margin-left: 6px;
      border-radius: 10px;
      cursor: pointer;
    }
}