.wrapper {
  margin-left: 50px;
  .icon {
    font-size: 20px;
    line-height: 68px;
    cursor: pointer;
    &:hover {
      color: rgb(155, 150, 150);
    }
  }
}
.tooltip{
  background: rgba(21,21,21,.7);
  border-radius: 4px;

  .speed{
    margin-left: 20px;
    width: 400px;
    .bulletLabel{
      margin-right: 20px;
      margin-bottom: 6px;
    }
  }
  .loopCount{
    margin-left: 20px;
    margin-bottom: 6px;
    .loopLabel{
      color: #fff;
    }
  }
}

