@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.myCopy{
  position: relative;
  cursor: pointer;
  border: none;
  background: inherit;
  margin: 0 6px;
}
.myCopy:hover{
  color: #167cd0; 
}
.myCopy:hover:after{    
  position: absolute;
  content: "复制";
  top: -10px;
  bottom: 0px;
  left: calc(100% + 6px);
  right: 0;
  width: 30px;
  font-size: 10px;
}
